/* Reset básico-começo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Reset básico-final */

/* Para navegadores baseados em WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #000000; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do "polegar" */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do "polegar" ao passar o mouse */
}

/* Botão de voltar ao topo do site - começo */
#scrollTopBtn {
    position: fixed; /* Fixa a imagem na tela */
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da direita da tela */
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    z-index: 1000; /* Garante que a imagem fique acima de outros elementos */
    display: none; /* Inicialmente oculta a imagem */
}

/* Exibir o botão quando o usuário rolar para baixo */
.show {
    display: block; /* Exibe a imagem */
}
/* Botão de voltar ao topo do site - final */

/* Barra de Navegação - começo */
.navbar {
    flex-direction: column; /* Muda a direção para coluna em telas menores */
    background-color: #1C1C1C; /* Cor de fundo preta */
    padding: 30px; /* Aumenta a altura da barra e ajusta o padding */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Centraliza os itens do container no centro */
    align-items: center;
}

/* Container para centralizar o conteúdo-começo */
.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    justify-content: center; /* Centraliza os itens */
}

/* Logotipo e Nome da Loja - começo */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px; /* Aumenta o espaço entre o logotipo e o texto */
    position: absolute;
    margin-right: 1050px; /* Ajusta o logotipo totalmente à esquerda */
}

.logotipo-barra-navegação-imagem {
    width: 45px; /* Aumenta o tamanho do logotipo */
}

.logotipo-barra-navegação-texto {
    width: 220px; /* Ajusta o tamanho do texto do logotipo */
}
/* Logotipo e Nome da Loja-final */

/* Links da barra de navegação - começo */
.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}

.nav-links li {
    display: inline-block;
    margin: 0 25px; /* Aumenta o espaço entre os links */
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px; /* Aumenta o tamanho da fonte */
}

.nav-links a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 4px;
}

.dropdown-Contato {
    position: relative;
}

.dropdown-Contato-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150xpx;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease; /* Transição suave */
    z-index: 1;
}

.dropdown-Contato-menu.show {
    display: block; /* Torna visível */
    opacity: 1; /* Aumenta a opacidade */
}

.dropdown-Contato-menu li {
    padding: 7px 0px;
}

.dropdown-Contato-menu li a {
    display: flex; /* Usar flexbox para alinhar o ícone e o texto */
    align-items: center; /* Alinha verticalmente o ícone e o texto */
    padding: 7px 20px;
    text-decoration: none; /* Remove o sublinhado do link */
    color: white; /* Cor do texto */
}

.dropdown-Contato-menu li a:hover {
    color: black;
    background-color: #ffffff;
    border-radius: 4px;
}

.dropdown-Contato:hover .dropdown-Contato-menu {
    display: block;
}

.dropdown-Contato > a:after {
    content: " \25BC";
    margin-left: 5px;
    font-size: 0.8em;
}
.whatsapp-icone-contato {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.instagram-icone-contato {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.facebook-icone-contato {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-Produto {
    position: relative;
}

.dropdown-Produto-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease; /* Transição suave */
    z-index: 1000;
}

.dropdown-Produto-menu.show {
    display: block; /* Torna visível */
    opacity: 1; /* Aumenta a opacidade */
}

.dropdown-Produto-menu li {
    padding: 7px 20px;
}

.dropdown-Produto-menu li a:hover {
    color: black;
    background-color: #ffffff;
    border-radius: 4px;
}

.dropdown-Produto:hover .dropdown-Produto-menu {
    display: block;
}

.dropdown-Produto > a:after {
    content: " \25BC";
    margin-left: 5px;
    font-size: 0.8em;
}
/* Links da barra de navegação-final */

/* Ícone de Pesquisa - começo */
.search li {
    list-style-type: none; /* Remove a bolinha padrão */
    padding: 0; /* Remove o padding padrão, se necessário */
    margin: 0; /* Remove a margem padrão, se necessário */
}

.search-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 95px; /* Posiciona a barra de pesquisa à direita */
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
}

.search-icon {
    cursor: pointer;
    width: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Ajuste o tamanho da imagem conforme necessário */
    margin-right: 10px; /* Espaçamento entre a imagem e o campo de entrada */
}

#searchInput {
    width: 0; /* Começa com largura 0 */
    border: none;
    outline: none; /* Remove o contorno ao focar */
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 8px;
    background-color: #333;
    color: white; /* Cor do texto */
    transition: width 0.5s ease, padding 0.5s ease; /* Transição suave */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura */
}

/* Estilo do placeholder */
#searchInput::placeholder {
    color: #ada9a9; /* Cor do texto do placeholder */
    opacity: 1; /* Aumenta a opacidade do placeholder (pode ser ajustado) */
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Classe ativa para a barra de pesquisa */
#searchInput.active {
    width: 200px; /* Largura desejada quando ativo */
    padding: 10px; /* Mantém o padding ao ativar */
}
/* Ícone de Pesquisa - final */

/* Imagem The Witcher 3 - começo */
.imagem-container {
    position: relative; /* Permite que os elementos filhos sejam posicionados em relação a este contêiner */
}

.imagem-thewitcher3 {
    width: 100%; /* Ajusta a largura da imagem para 100% do contêiner */
    height: 200px; /* Mantém a proporção da imagem */
    margin-top: 83px; /* Ajuste conforme necessário */
}
/* Imagem The Witcher 3 - final */

/* Estilo do botão de login e cadastro - começo */
.login-e-cadastro-container {
    position: absolute; /* Permite que o contêiner seja posicionado em relação ao seu pai */
    top: 10%; /* Ajuste a posição vertical conforme necessário */
    margin-top: 65px;
    margin-left: 1190px;
}

.botao-login-e-cadastro {
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.botao-login-e-cadastro:hover {
    background-color: #000000; /* Cor de fundo ao passar o mouse */
    color: white;
}
/* Estilo do botão de login e cadastro - final */

/* Título "Dê uma olhada em alguns de nossos produtos" - começo */
.titulo-produtos {
    font-family: 'Arial', sans-serif; /* Define a fonte do título */
    font-size: 24px; /* Tamanho da fonte reduzido */
    color: #fff; /* Cor do texto */
    background-color: rgb(65, 64, 64);
    padding: 10px; /* Espaçamento interno reduzido */
    text-align: center; /* Centraliza o texto */
    border-radius: 8px; /* Arredonda os cantos reduzido */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2); /* Sombra ao redor do título reduzida */
    margin: 10px 0; /* Margem acima e abaixo do título reduzida */
}
/* Título "Dê uma olhada em alguns de nossos produtos" - final */

/* Anúncio teclado - começo */
.anuncios-container {
    display: flex; /* Usando Flexbox para alinhar os anúncios horizontalmente */
    justify-content: space-between; /* Espaça os anúncios uniformemente */
    max-width: 1500px; /* Define uma largura máxima para o container */
    margin: 0 auto; /* Centraliza o container na página */
}

.anuncio-teclado, .anuncio-mouse, .anuncio-fone {
    flex: 1; /* Faz com que cada anúncio ocupe o mesmo espaço */
    margin: 10px; /* Adiciona margem entre os anúncios */
    text-decoration: none; /* Remove o sublinhado dos links */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do link */
}

.anuncio-teclado img, .anuncio-mouse img, .anuncio-fone img {
    width: 100%; /* Faz a imagem ocupar 100% da largura do link */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove o espaço embaixo da imagem */
    transition: transform 0.3s ease; /* Adiciona uma transição suave ao efeito de transformação */
    border-radius: 8px;
}

.anuncio-teclado:hover img, .anuncio-mouse:hover img, .anuncio-fone:hover img {
    transform: scale(0.95); /* Diminui a imagem ao passar o mouse */
}
/* Anúncio teclado - final */

/* Footer - começo */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(28, 28, 28);
    color: white;
}

.payment-methods img {
    margin: 5px;
	border-radius: 5px;
}

.social-media a {
    margin: 0 10px;
    color: #FFD700; /* Amarelo */
    text-decoration: none;
}

.contact-info p {
    margin: 5px 0;
}
/* Footer - final */